<div class="d-flex flex-column min-vh-100">
  <header>
    <app-navbar></app-navbar>    
  </header>

  <content >

    <div class="container-fluid p-4">    
      
      <router-outlet></router-outlet>
    
    </div>
  </content>
  
  <footer class="mt-auto">
    <app-footer></app-footer>
  </footer>
</div>

<!-- <div class="d-flex flex-column">

  

  <div class="d-flex flex-column" style="background-color: pink">
    
    

    <div class="d-inline d-sm-none">
      <p>
        <button
          type="button"
          class="btn btn-outline-primary"
          (click)="collapse.toggle()"
          [attr.aria-expanded]="!isCollapsed"
          aria-controls="collapseExample"
        >
          Toggle
        </button>
      </p>
    </div>


    <span class="d-flex flex-column d-inline d-sm-none" style="min-height: 100px">
      <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed" [horizontal]="true" style="max-width: 300px">
        <div class="card" style="width: 300px">
          <div class="card-body">You can collapse horizontally this card by clicking Toggle</div>
        </div>
      </div>
    </span>
    <span >
    
        <div class="card" style="width: 300px">
          <div class="card-body">holi</div>
        </div>
    
    </span>

    
  </div>
  
  <div style="background-color: green">
    More content
  </div>

</div>




 -->
