<div class="d-flex justify-content-center animate__animated animate__fadeIn">
    <h1 style="font-size: 70px">
        ¡Dame una pata!
    </h1>
</div>

<div class="d-flex justify-content-center animate__animated animate__fadeIn">
    <ngb-carousel
        *ngIf="images"
        [showNavigationArrows]="false"
        [showNavigationIndicators]="false"
    >
        <ng-template ngbSlide *ngFor="let image of images">
            <div class="picsum-img-wrapper">
                <img [src]="image" class="img-fluid" alt="Random slide" />
            </div>
            <div class="carousel-caption p-2">
                <h3>Todos quieren sentirse en casa</h3>                
            </div>
        </ng-template>
    </ngb-carousel>
</div>

<div class="d-flex flex-column mt-2">
    <h1 class="text-center">¡Únete a esta gran comunidad!</h1>
    <div class="d-flex flex-row align-items-center">
        <h2><strong>Dame una Pata</strong></h2>
        <img src="./../../assets/pata.png"  class="img-fluid logo" alt="">
    </div>
    <p>
        Dame una pata es una plataforma para los amantes de las mascotas. Tiene como objetivo el ayudar a las personas con sus mascotas perdidas, esto mediante el apoyo de toda su comunidad. La plataforma avisa a usuarios cercanos de la zona donde perdiste a tu mascota y de este modo poder ofrecer una búsqueda rápida, abarcando la mayor área posible. Así también, usuarios que hayan encontrado mascotas perdidas pueden publicarlo y poder encontrar rápidamente a su dueño.
    </p>
    <p>
        Además, se busca brindar una plataforma que ayude en el proceso de adopción de mascotas y se pueda evitar el abandono o maltrato animal.
    </p>
</div>

<div class="d-flex  flex-column mt-2">
    <div class="d-flex flex-row flex-wrap">
        <div class="d-flex align-items-center col-md-8 col-xs-12 justify-content-center">
            <div>
                <h2 class="me-2"><strong>¡Porque sabemos que estás ahí y queremos encontrarte!</strong>
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="red" class="bi bi-heart-fill ms-2" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                    </svg>
                </h2>

                <span>
                    <p class="text-center">
                        Nos interesa poder encontrar rápidamente a las mascotas perdidas, pero también deseamos encontrar a todas esas <b>personas valiosas</b> que ayudan, así que <b>¡Danos una pata y regístrate!</b>
                    </p>
                </span>
            </div>
        </div>
        <div class="d-flex col-md-4 col-xs-12">
            <img src="./../../assets/dame-una-pata-photo.jpg" class="img-fluid rounded" alt="Random slide" />
        </div>
    </div>
</div>

<div class="d-flex flex-column mt-4 p-3 primary-color" style="border-radius: 10px">
    <h1 class="text-center text-white">¿Cómo funciona?</h1>

    <div>
        <h5 class="text-center text-white">
            Puedes empezar a colaborar con nosotros siguiendo estos pasos:
        </h5>
    </div>

    <div class="d-flex flex-wrap justify-content-evenly mt-2 ">
        <div class="card mt-2 " style="width: 15rem;">

            <div class="d-flex justify-content-center">
                <img src="./../../assets/user.gif" class="card-img-top icons-steps" alt="...">
            </div>

            <div class="card-body">
                <h5 class="card-title text-center">Regístrate</h5>
            </div>            
            
            <div class="d-flex flex-row justify-content-center align-items-center mb-3">

                <div class="d-flex justify-content-center align-items-center rounded-circle circle-step">
                    <strong class="text-white">1</strong>
                </div> 
             
            </div>   
        </div>
        <div class="card mt-2 " style="width: 15rem;">

            <div class="d-flex justify-content-center">
                <img src="./../../assets/login.gif" class="card-img-top icons-steps" alt="...">
            </div>
            <div class="card-body">
                <h5 class="card-title text-center">Ingresa</h5>
            </div>     
            <div class="d-flex flex-row justify-content-center align-items-center mb-3">

                <div class="d-flex justify-content-center align-items-center rounded-circle circle-step">
                    <strong class="text-white">2</strong>
                </div> 
             
            </div>                  
        </div>
        <div class="card mt-2 " style="width: 15rem;">
            <div class="d-flex justify-content-center">
                <img src="./../../assets/speech-bubble.gif" class="card-img-top icons-steps" alt="...">
            </div>
            <div class="card-body">
                <h5 class="card-title text-center">Publica tu perdida</h5>
            </div>                       
            <div class="d-flex flex-row justify-content-center align-items-center mb-3">

                <div class="d-flex justify-content-center align-items-center rounded-circle circle-step">
                    <strong class="text-white">3</strong>
                </div> 
             
            </div>
        </div>
        <div class="card mt-2 " style="width: 15rem;">
            <div class="d-flex justify-content-center">
                <img src="./../../assets/connection.gif" class="card-img-top icons-steps" alt="...">
            </div>
            <div class="card-body">
                
                <h5 class="card-title text-center">Recibe ayuda de la comunidad</h5>
            </div>  
            <div class="d-flex flex-row justify-content-center align-items-center mb-3">

                <div class="d-flex justify-content-center align-items-center rounded-circle circle-step">
                    <strong class="text-white">4</strong>
                </div> 
             
            </div>                        
        </div>
        <div class="card mt-2 " style="width: 15rem;">
            <div class="d-flex justify-content-center">
                <img src="./../../assets/user-help.gif" class="card-img-top icons-steps" alt="...">
            </div>
            <div class="card-body">                                
                <h5 class="card-title text-center">Ayuda a la comunidad</h5>
            </div>                 
            
            <div class="d-flex flex-row justify-content-center align-items-center mb-3">

                <div class="d-flex justify-content-center align-items-center rounded-circle circle-step">
                    <strong class="text-white">5</strong>
                </div> 
             
            </div>   
        </div>
    </div>
</div>


<div class="d-flex flex-column mt-2 p-3" style="border-radius: 10px;">
    <div class="d-flex flex-row flex-wrap">
        <div class="d-flex col-md-4 col-xs-12">
            <img src="./../../assets/pet-working.jpg" class="img-fluid rounded" alt="Random slide" />
        </div>
        <div class="d-flex align-items-center col-md-8 col-xs-12">
            <div class="ms-2">
                <h1 class="text-center">Seguimos trabajando para mejorar</h1>
                <span class="text-center">
                    Sabemos lo importante que es que tú puedas contar con una plataforma funcional y que se puedan alcanzar los objetivos de la mejor manera. Estamos trabajando para poder ofrecer lo mejor.
                </span>
            </div>
        </div>
    </div>
</div>


