<div class="d-flex justify-content-center animate__animated animate__fadeIn">
    <h1>
        ¡Dame una pata!
    </h1>
</div>

<div class="d-flex justify-content-center animate__animated animate__fadeIn">
    <ngb-carousel
        *ngIf="images"
        [showNavigationArrows]="false"
        [showNavigationIndicators]="false"
    >
        <ng-template ngbSlide *ngFor="let image of images">
            <div class="picsum-img-wrapper">
                <img [src]="image" class="img-fluid" alt="Random slide" />
            </div>
            <div class="carousel-caption p-2">
                <h3>Todos quieren estar en casa</h3>                
            </div>
        </ng-template>
    </ngb-carousel>
</div>

<div class="d-flex flex-column mt-5">
    <h1>¡Unete a esta gran comunidad!</h1>
    <div class="d-flex flex-row align-items-center">
        <h2><strong>Dame una Pata</strong></h2>
        <img src="./../../assets/pata.png"  class="img-fluid logo" alt="">
    </div>
    <p>Es una comunidad de personas que busca colaborar en la busqueda de mascotas perdidas. Informando de manera eficaz cuando alguien de nuestra counidad ha perdido a su mascota e informando a los miembros cercanos a donde se origino la perdida
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex quibusdam ipsam porro dolorem eius possimus deleniti, quidem dolores placeat nostrum quas, rem asperiores deserunt aspernatur omnis magnam temporibus cum at!
    </p>
</div>

<div class="d-flex flex-column mt-2 p-3 primary-color" style="border-radius: 10px">
    <h1 class="text-center text-white">¿Como funciona?</h1>

    <div class="d-flex flex-wrap justify-content-evenly mt-2 ">
        <div class="card mt-2 " style="width: 15rem;">

            <div class="d-flex justify-content-center">
                <img src="./../../assets/user.gif" class="card-img-top icons-steps" alt="...">
            </div>

            <div class="card-body">
                <h5 class="card-title text-center">Registrate</h5>
            </div>            
            
            <div class="d-flex flex-row justify-content-center align-items-center mb-3">

                <div class="d-flex justify-content-center align-items-center rounded-circle circle-step">
                    <strong class="text-white">1</strong>
                </div> 
             
            </div>   
        </div>
        <div class="card mt-2 " style="width: 15rem;">

            <div class="d-flex justify-content-center">
                <img src="./../../assets/login.gif" class="card-img-top icons-steps" alt="...">
            </div>
            <div class="card-body">
                <h5 class="card-title text-center">Ingresa</h5>
            </div>     
            <div class="d-flex flex-row justify-content-center align-items-center mb-3">

                <div class="d-flex justify-content-center align-items-center rounded-circle circle-step">
                    <strong class="text-white">2</strong>
                </div> 
             
            </div>                  
        </div>
        <div class="card mt-2 " style="width: 15rem;">
            <div class="d-flex justify-content-center">
                <img src="./../../assets/speech-bubble.gif" class="card-img-top icons-steps" alt="...">
            </div>
            <div class="card-body">
                <h5 class="card-title text-center">Publica tu perdida</h5>
            </div>                       
            <div class="d-flex flex-row justify-content-center align-items-center mb-3">

                <div class="d-flex justify-content-center align-items-center rounded-circle circle-step">
                    <strong class="text-white">3</strong>
                </div> 
             
            </div>
        </div>
        <div class="card mt-2 " style="width: 15rem;">
            <div class="d-flex justify-content-center">
                <img src="./../../assets/connection.gif" class="card-img-top icons-steps" alt="...">
            </div>
            <div class="card-body">
                
                <h5 class="card-title text-center">Recibe ayuda de la comunidad</h5>
            </div>  
            <div class="d-flex flex-row justify-content-center align-items-center mb-3">

                <div class="d-flex justify-content-center align-items-center rounded-circle circle-step">
                    <strong class="text-white">4</strong>
                </div> 
             
            </div>                        
        </div>
        <div class="card mt-2 " style="width: 15rem;">
            <div class="d-flex justify-content-center">
                <img src="./../../assets/user-help.gif" class="card-img-top icons-steps" alt="...">
            </div>
            <div class="card-body">                                
                <h5 class="card-title text-center">Ayuda a la comunidad</h5>
            </div>                 
            
            <div class="d-flex flex-row justify-content-center align-items-center mb-3">

                <div class="d-flex justify-content-center align-items-center rounded-circle circle-step">
                    <strong class="text-white">2</strong>
                </div> 
             
            </div>   
        </div>
    </div>
</div>





