<div class="d-flex justify-content-center align-items-center animate__animated animate__fadeIn" style="height: 80vh">

    <div class="card col-10 col-sm-7 col-md-8 col-lg-6 col-xl-4">
      <div class="card-body">
        <h5 class="card-title text-center primary-color text-white p-2">Registro</h5>   
        
        <div class="d-flex justify-content-center m-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-person-add" viewBox="0 0 16 16">
                <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Zm-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z"/>
                <path d="M8.256 14a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Z"/>
              </svg>
        </div>
        
          <form>

            <div class="row">
                <div class="col-6">
                    <div class="form-group ms-3">
                        <label for="exampleInputEmail1">Nombre</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Tu nombre">
                        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group me-3">
                        <label for="exampleInputEmail1">Apellido</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Tu apellido">
                        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                    </div>
                </div>
            </div>

            <div class="form-group m-3">
              <label for="exampleInputPassword1">Código postal</label>
              <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Tu código postal">
            </div>
            <div class="form-group m-3">
              <label for="exampleInputPassword1">Correo electrónico</label>
              <input type="email" class="form-control" id="exampleInputPassword1" placeholder="Tu correo electrónico">
            </div>
            <div class="form-group m-3">
              <label for="exampleInputPassword1">Contraseña</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Tu contraseña">
            </div>
            
            <div class="d-flex justify-content-center">
              <button class="btn btn-primary primary-color">Registrarme</button>
            </div>
            
          </form>            
      </div>
    </div>
</div>